body {
  padding-top: 50px;
}

.panel-body {
  padding: 0px;
}

.pin img {
  width: 100%;
}

.navbar .nav > li {
  color: white;
}

.navbar .nav > li > a {
  color: white;
}

.navbar {
  background-color: black;
}

.navbar-default .navbar-brand {
  color: white;
}
